.header {
  display: flex;
  gap: 20px;
  background: linear-gradient(45deg, #ff0000, #0004ff);
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
  justify-content: center;

  

}

.header-logo {
  width:  70px;
  height: 70px;
}

.header-titre {
  color: white;
  font-size: 2rem;
  font-family: "Press Start 2P", sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(45deg, #0004ff, #fc0000);
  background-repeat: no-repeat;
  height: 100vh;
}

.choix-titre {
  text-align: center;
  margin-top: 40px;
  font-size: 30px;
  font-weight: bold;
}

.choix-container {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 150px;
}

.choix-jeu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jeu-image {
  width: 140px;
  height: auto;
  margin-bottom: 20px;
}

.jeu-lien {
  font-size: 24px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

